<div th:fragment="info">
    <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">Information</h4>
        <p class="mb-0">It's my first projects made with spring framework, hope it doesn't look too lame.</p>
    </div>
</div>
<div th:fragment="contacts">
        <div class="p-3">
            <h4 class="font-italic">Contacts</h4>
            <ol class="list-unstyled">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Telegram</a></li>
                <li><a href="#">VK</a></li>
            </ol>
        </div>
    </aside><!-- /.blog-sidebar -->
</div>